In [1]:
#import the library
import dask.dataframe 
import time
import pandas as pd

In [2]:
#Imprort all the csv 24 files  using dask 
#to handle the data type error 'end station id','start station id', where imported as float
start_time = time.time()
dff = dask.dataframe.read_csv("data/201*-citibike-tripdata.csv",dtype={'end station id': 'float64','start station id': 'float64'})
#dff = dask.dataframe.read_csv("data/201*-citibike-tripdata.csv")

print("dask.dataframe took %s seconds" % (time.time() - start_time))

dask.dataframe took 0.27002429962158203 seconds

In [3]:
dff.count().compute()

tripduration               38100036
starttime                  38100036
stoptime                   38100036
start station id           38097359
start station name         38097359
start station latitude     38100036
start station longitude    38100036
end station id             38097359
end station name           38097359
end station latitude       38100036
end station longitude      38100036
bikeid                     38100036
usertype                   38100036
birth year                 38100036
gender                     38100036
dtype: int64

In [4]:
dff.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [5]:
dff.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [4]:
df = dff.dropna(how='any').compute()
#dff.dropna(subset=['start station id', 'end station id']) .compute()
#dff.dropna(subset=['start station id']) .compute()

In [5]:
df.count()

tripduration               38097359
starttime                  38097359
stoptime                   38097359
start station id           38097359
start station name         38097359
start station latitude     38097359
start station longitude    38097359
end station id             38097359
end station name           38097359
end station latitude       38097359
end station longitude      38097359
bikeid                     38097359
usertype                   38097359
birth year                 38097359
gender                     38097359
dtype: int64

In [6]:
df =df[df["gender"] != 0]

In [7]:
df.count()

tripduration               35052772
starttime                  35052772
stoptime                   35052772
start station id           35052772
start station name         35052772
start station latitude     35052772
start station longitude    35052772
end station id             35052772
end station name           35052772
end station latitude       35052772
end station longitude      35052772
bikeid                     35052772
usertype                   35052772
birth year                 35052772
gender                     35052772
dtype: int64

In [12]:
df = df[df['tripduration'] > 300 ]

In [13]:
df.count()

tripduration               28384347
starttime                  28384347
stoptime                   28384347
start station id           28384347
start station name         28384347
start station latitude     28384347
start station longitude    28384347
end station id             28384347
end station name           28384347
end station latitude       28384347
end station longitude      28384347
bikeid                     28384347
usertype                   28384347
birth year                 28384347
gender                     28384347
dtype: int64

In [14]:
df['start station id'] = df['start station id'].astype(int)
df['end station id'] = df['end station id'].astype(int)

In [15]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int32
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int32
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [16]:
df.count()

tripduration               28384347
starttime                  28384347
stoptime                   28384347
start station id           28384347
start station name         28384347
start station latitude     28384347
start station longitude    28384347
end station id             28384347
end station name           28384347
end station latitude       28384347
end station longitude      28384347
bikeid                     28384347
usertype                   28384347
birth year                 28384347
gender                     28384347
dtype: int64

In [17]:
#convert it back to dask dataframe for faster process 
#with 20 partition in memory
ddf = dask.dataframe.from_pandas(df, npartitions=20)

In [18]:
#write the file with no index and all data in one file
ddf.to_csv("cityBike2018_2019_300.csv", single_file= True, index = False)

['C:/pc_dav_hw/Tableau_cityBikeAnalytics/cityBike2018_2019_300.csv']